<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="loadPersonaPreferences();">

</body>
<script>
//loads persona preferences from cookies and updates the server with persona preferences
//then instructs the server to display the theme page
function loadPersonaPreferences(){
  //update the server with the persona selections
  var x = new XMLHttpRequest();
  x.open("GET", "update-persona?selections=" + document.cookie, true);
  x.send();

  //open the theme page
  window.location.replace("/theme");
}
</script>
</html>