<!DOCTYPE html>
<html>
<title>YouNews Topics</title>
<link rel="shortcut icon" type="image/jpg" href="static/favicon.ico"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="css/main.css">
<style>

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #f3f9ff;
}

body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif,;background-color:#bed0e5}

img {
  width: 100%;
  height: auto;
}

.thumbnail {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* graphic thumbnail */
.img-graphic {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
}

/* Add a hover effect (blue shadow) */
.img-graphic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* video display */
.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* audio display */
audio { width: 100%; }

.content {
  background-color:#bed0e5;
  max-width: 960px;
  margin: auto;
}

.w3-container {
  background-color: #f3f9ff;
  padding-top: 15px;
}

.w3-header {
  background-color:#bed0e5;
}

#footer {
  position: relative;
  bottom: 0;
  margin-top: 7px;
  width: 100%;
  height: 4rem;
  background-color:#bb1919;
  color:white;
  text-align: left;
  padding: 10px;
}

</style>
<body class="w3-light-grey">


<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-header" style= "overflow:auto; height: 100%"> <!--style="max-width:1400px"-->

<!-- Header -->
<header class="content w3-center w3-padding-32">
  <h1 id= "title"><b>{{title}}</b></h1>
  <p id= "summary">{{summary}}</p>
</header>

<!-- Grid -->
<div class="w3-row">

  <!-- Primary story -->
  <div class="w3-col l8 s12">

    {% for snippet in primary_snippets %}
    <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">
        {% if snippet['snippet_type'] == 'image' %}
        <img src="{{snippet['snippet_url']}}"/>

        {% elif snippet['snippet_type'] == 'graph' %}
        <a target="_blank" href="{{snippet['snippet_url']}}">
          <img class="img-graphic" src="{{snippet['snippet_url']}}" alt="Forest">
        </a>

        {% elif snippet['snippet_type'] == 'graphic' %}
        <a target="_blank" href="{{snippet['snippet_url']}}">
          <img class="img-graphic" src="{{snippet['snippet_url']}}" alt="Forest">
        </a>

        {% elif snippet['snippet_type'] == 'video' %}
        <div class="video">
          <iframe class="responsive-iframe" src="{{snippet['snippet_url']}}"></iframe>
        </div>

        {% elif snippet['snippet_type'] == 'audio' %}
        <audio controls>
          <source src="{{snippet['snippet_url']}}" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>

        {% endif %}
        <p style="font-size:1.25em; font-weight: bold;">{{snippet['title']}}</p>
        <p style="font-size:1em;">{{snippet['snippet_description']}}</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p>
              <button class="w3-button w3-padding-large w3-white w3-border" onclick="window.open('{{snippet['article_url']}}')"><b>Details »</b></button>
              &nbsp;
              <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/?url={{snippet['article_url']}}&media=http%3A%2F%2Fsjct.herokuapp.com%2Fstatic%2F{{snippet['thumbnail']}}&description=Next%20stop%3A%20Pinterest"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" /></a>
          </p>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Persona Score </b> <span class="w3-tag">{{snippet['score']}}</span></span></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- End primary story -->
  </div>

  <!-- Secondary story -->
  <div class="w3-col l4">
    {% for snippet in secondary_snippets%}
    <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">
        {% if snippet['snippet_type'] == 'image' %}
        <img src="{{snippet['snippet_url']}}"/>

        {% elif snippet['snippet_type'] == 'graph' %}
        <a target="_blank" href="{{snippet['snippet_url']}}">
          <img class="img-graphic" src="{{snippet['snippet_url']}}" alt="Forest">
        </a>

        {% elif snippet['snippet_type'] == 'graphic' %}
        <a target="_blank" href="{{snippet['snippet_url']}}">
          <img class="img-graphic" src="{{snippet['snippet_url']}}" alt="Forest">
        </a>

        {% elif snippet['snippet_type'] == 'video' %}
        <div class="video">
          <iframe class="responsive-iframe" src="{{snippet['snippet_url']}}"></iframe>
        </div>

        {% elif snippet['snippet_type'] == 'audio' %}
        <audio controls>
          <source src="{{snippet['snippet_url']}}" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>

        {% endif %}
        <p style="font-size:1.25em; font-weight: bold;">{{snippet['title']}}</p>
        <p style="font-size:1em;">{{snippet['snippet_description']}}</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p>
              <button class="w3-button w3-padding-large w3-white w3-border" onclick="window.open('{{snippet['article_url']}}')"><b>Details »</b></button>
              &nbsp;
              <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/?url={{snippet['snippet_url']}}&media=http%3A%2F%2Fsjct.herokuapp.com%2Fstatic%2F{{snippet['thumbnail']}}&description=Next%20stop%3A%20Pinterest"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" /></a>
            </p>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Persona Score </b> <span class="w3-tag">{{snippet['score']}}</span></span></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Labels / tags -->
<!--     <div class="w3-card w3-margin">
      <div class="w3-container w3-padding">
        <h4>Tags</h4>
      </div>
      <div class="w3-container w3-white">
      <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
      </p>
      </div> 
    </div> -->

  <!-- END Secondary story -->
  </div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->


<!-- Footer -->
<footer id= "footer">
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom" onclick="location.href='/';">Back</button>
  <p style= "color: white; display: inline;">Powered by <a href="https://www.dxc.com" target="_blank">DXC Technology</a></p>
</footer>
</div>

  <!-- modal information box -->
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
      <header class="w3-container modal-container">
        <h2>Your Story</h2>
      </header>
      <div class="w3-container">
        <div class="loader"></div>
        <p>Share your story on Pinterest</p>
        <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" /></a>
        <img id="thumbnail" class="thumbnail" src="">
        <p><button onclick="closePin()">Close</button></p>
      </div>
    </div>
  </div>
  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
